<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <div class="bg-image"></div>
        <div class="container">
            <main>
                <div class="jumbotron-center-compact">
                    <h1>League of Goons</h1>
                    <div class="pickems-area">
                        <% for (var pick in pickems) { %>
                            <div class="pickem">
                                <div class="pickem-week"><%= pickems[pick].week %></div>
                                <div class="pickem-team"><%= pickems[pick].home %></div>
                                <div class="pickem-team"><%= pickems[pick].away %></div>
                                <div class="pickem-team"><%= pickems[pick].userpick %></div>
                                <div class="pickem-time"><%= pickems[pick].gametime %></div>
                                <div class="pickem-week"><%= pickems[pick].idmatchup %></div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>