<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <%
            function formatDate(date) {

                var hours = date.getHours();
                var minutes = date.getMinutes();
                var meridian = hours >= 12 ? "PM" : "AM";

                if (hours > 12) hours = hours - 12;
                if (minutes.toString().length == 1) minutes = "0" + minutes.toString();

                return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear() + " " + hours + ":" + date.getMinutes() + " " + meridian;
            } %>
        <div class="bg-image"></div>
        <div class="container">
            <main>
                <div class="jumbotron-center compact">
                    <h1>League of Goons Pick'ems</h1>
                    <div class="pickems-area">
                        <% var week = 0; %>
                        <% for (var pick in pickems) { %>
                            <% if (week !== pickems[pick].week) { %>
                                <% week = pickems[pick].week; %>
                                <div class="pickem-week">
                                    WEEK <%= week %>
                                </div>
                            <% } %>
                            <div class="pickem">
                                <div class="pickem-time"><%= formatDate(pickems[pick].gametime) %></div>
                                <div class="pickem-team <%= pickems[pick].userpick === pickems[pick].home ? 'is-selected' : '' %>"><%= pickems[pick].home %></div>
                                <div class="pickem-team <%= pickems[pick].userpick === pickems[pick].away ? 'is-selected' : '' %>"><%= pickems[pick].away %></div>
                                <div class="pickem-week hidden"><%= pickems[pick].idmatchup %></div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>