<!DOCTYPE html>
    <head>
        <%- include partials/styles %>
        <title>Pick'ems by Week - League of Goons</title>
    </head>
    <body>
        <div class="bg-image"></div>
        <div class="container full-page">
            <main>
                <% include partials/header %>
                <div class="jumbotron-center-medium">
                    
                    <h1>League of Goons Pick'ems (Week <%= weekNum %>)</h1>
     
                    <div class="controls-container">
                        <% for (let i = 1; i < 17; i++) { %>
                            <a href='/pickems/week/<%= i %>'>Week <%= i %></a>
                        <% } %>
                    </div>

                    <div class="table-container">
                        <table class="pickem-weekly-table">
                            <tr class="game-header">
                                <th></th>
                                <% for (let i in matchups)  { %>
                                    <th class="team-header"><%= matchups[i].awayName %> @ <%= matchups[i].homeName %></th>
                                <% } %>
                            </tr>
                            <% for (let i in users) { %>
                                <tr class="pick-row">
                                    <th class="name-header sticky"><%= users[i].name %></th>
                                    <% for (let j in matchups) { %>
                                        <% let pick = userPicks.find(p => p.iduser == users[i].userId && p.idmatchup == matchups[j].idMatchup) %>
                                        <td>
                                            <% if (!pick || pick.isfuture || pick.istie) { %>
                                                -
                                            <% } else if (pick && pick.wascorrect) { %>
                                                <i class="material-icons pick-icon pickem-complete is-correct">check</i>
                                            <% } else if (pick && !pick.wascorrect) { %>
                                                <i class="material-icons pick-icon pickem-complete is-incorrect">close</i>
                                            <% } %>
                                        </td>
                                    <% } %>
                                </tr>
                            <% } %>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>