<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <%
            function formatDate(date) {

                var hours = date.getHours();
                var minutes = date.getMinutes();
                var meridian = hours >= 12 ? "PM" : "AM";

                if (hours > 12) hours = hours - 12;
                if (minutes.toString().length == 1) minutes = "0" + minutes.toString();

                return (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear() + " " + hours + ":" + minutes + " " + meridian;
            } %>
        <div class="bg-image"></div>
        <div class="container">
            <main>
                <div class="jumbotron-center compact">
                    <h1>League of Goons Pick'ems</h1>
                    <div class="pickems-area">
                        <% var week = 0; %>
                        <% var idx = 1; %>
                        <% for (var pick in pickems) { %>
                            <% if (week !== pickems[pick].week) { %>
                                <% 
                                    week = pickems[pick].week; 
                                    idx = 1;
                                %>
                                <div class="pickem-week">
                                    WEEK <%= week %>
                                </div>
                            <% } %>
                            <div class="<%= idx % 2 == 1 ? 'pickem' : 'pickem-alt' %>">
                                <div class="pickem-time"><%= formatDate(pickems[pick].gametime) %></div>
                                <div data-userid="<%= pickems[pick].userid %>" data-matchupid="<%= pickems[pick].idmatchup %>" data-teamid="<%= pickems[pick].idhometeam %>" class="pickem-team <%= pickems[pick].canupdate === 0 ? 'is-locked' : '' %> <%= pickems[pick].userpick === pickems[pick].home ? 'is-selected' : '' %>"><%= pickems[pick].home %></div>
                                <div data-userid="<%= pickems[pick].userid %>" data-matchupid="<%= pickems[pick].idmatchup %>" data-teamid="<%= pickems[pick].idawayteam %>" class="pickem-team <%= pickems[pick].canupdate === 0 ? 'is-locked' : '' %> <%= pickems[pick].userpick === pickems[pick].away ? 'is-selected' : '' %>"><%= pickems[pick].away %></div>
                            </div>
                            <% idx++; %>
                        <% } %>
                    </div>
                </div>
            </main>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript">
            function showLoadingSpinner() {
                console.log('loading');
            }

            $(function() {
                $('.pickem-team').click(function() {
                    console.log($(this));
                    var isLocked = $(this).hasClass('is-locked');

                    if (isLocked) return;

                    // show a spinner or something
                    showLoadingSpinner();

                    var userid = $(this).data('userid');
                    var matchupid = $(this).data('matchupid');
                    var teamid = $(this).data('teamid');

                    $.ajax({
                        type: 'POST',
                        url: '/pickems',
                        data: { userid: userid, matchupid: matchupid, teamid: teamid },
                        success: function(result) {
                            console.log(result);
                        }
                    });
                });
            });
        </script>
    </body>
</html>